body{
    background-color: black;  
}
.center{
display: block;
margin: 0%;
padding: 0%;
margin-left: auto;
margin-right: auto;
width: 25%;
}
p{
color: white;
font-family: "open-sans",sans-serif;
font-size: 120px;
text-align: center;
margin: 0%;
padding: 0%;
}
.contactbutton{
    border-radius: 14cm;
    border-color: darkgrey;
    background-color: black;
    text-align: center;
    color: white;
    list-style-type:none;
    font-size: 1.2cm;   
    margin: 98px 8em;
    padding:0%;
}

.projectbutton{
    border-radius: 14cm;
    border-color: darkgrey;
    background-color: black;
    text-align: center;
    color: white;
    list-style-type:none;
    font-size: 1.2cm;   
    margin: -7em;
    margin-right: 35px;
    padding:0%;

}
.links{
    color: white;
    text-decoration: none;
}
